html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    background-color: #fff;
}

#empty-div {
    height: 70px;
    clear: both;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

header {
    height: 70px;
    background: #1F8E94;
}

nav {
    height: 40px;
    background-color: #ACEBEE;
}

#content {
    margin-top: 30px;
    margin-left: 30px;
}

#page-content {
    float: left;
    width: 70%;
    padding : 20px;
    margin-right: 5%;
    min-height: 300px;
    background: #eee;
}

aside {
    float: right;
    width: 20%;
    min-height: 300px;
    background: #ddd;
}

footer {
    position: absolute;
    width: 100%;
    height: 50px;
    margin-top: -50px;
    clear: both;
    background-color: #ccc;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

nav ul {
    margin: 0 0 0 20px;
    padding: 0;
}

nav ul li {
    float: left;
    border-right: 1px solid #1D8287;
    list-style-type: none;
}

nav ul li:last-child {
    border-right: 0;
}

nav ul li a {
    display: block;
    color: #146165;
    padding: 11px 10px;
}

nav ul li a:hover {
    background-color: #F1BD17;
    color: #000;
}

#page-content h1 {
    margin: 0 0 10px;
}

.form-element {
    margin: 10px 0;
}

.form-element label {
    float: left;
    width: 90px;
}

input[type = "submit"] {
    background: #1F8E94;
    color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
}
