<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Chugga Chugga</display-name>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>servlet.AddNewUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FindTrainServlet</servlet-name>
        <servlet-class>servlet.FindTrainServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ShowAllTrainsServlet</servlet-name>
        <servlet-class>servlet.ShowAllTrainsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddTrainServlet</servlet-name>
        <servlet-class>servlet.AddTrainServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ShowRoutesServlet</servlet-name>
        <servlet-class>servlet.ShowRoutesServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ShowAllRoutesServlet</servlet-name>
        <servlet-class>servlet.ShowAllRoutesServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddRouteToTrainServlet</servlet-name>
        <servlet-class>servlet.AddRouteToTrainServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>BuyTicketServlet</servlet-name>
        <servlet-class>servlet.BuyTicketServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddStationServlet</servlet-name>
        <servlet-class>servlet.AddStationServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GetProfileServlet</servlet-name>
        <servlet-class>servlet.GetProfileServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TrainManagerSetActionServlet</servlet-name>
        <servlet-class>servlet.TrainManagerSetActionServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RouteManagerSetActionServlet</servlet-name>
        <servlet-class>servlet.RouteManagerSetActionServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>StationManagerSetActionServlet</servlet-name>
        <servlet-class>servlet.StationManagerSetActionServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PrepareStationTimetableServlet</servlet-name>
        <servlet-class>servlet.PrepareStationTimetableServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ShowStationTimetableServlet</servlet-name>
        <servlet-class>servlet.ShowStationTimetableServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PrepareFindTrainServlet</servlet-name>
        <servlet-class>servlet.PrepareFindTrainServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ShowPassengersServlet</servlet-name>
        <servlet-class>servlet.ShowPassengersServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CreateRouteServlet</servlet-name>
        <servlet-class>servlet.CreateRouteServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddStationToRouteServlet</servlet-name>
        <servlet-class>servlet.AddStationToRouteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddStationToRouteServlet</servlet-name>
        <url-pattern>/AddStationToRouteServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreateRouteServlet</servlet-name>
        <url-pattern>/CreateRouteServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ShowPassengersServlet</servlet-name>
        <url-pattern>/ShowPassengersServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ShowStationTimetableServlet</servlet-name>
        <url-pattern>/ShowStationTimetableServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PrepareFindTrainServlet</servlet-name>
        <url-pattern>/PrepareFindTrainServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PrepareStationTimetableServlet</servlet-name>
        <url-pattern>/PrepareStationTimetableServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StationManagerSetActionServlet</servlet-name>
        <url-pattern>/StationManagerSetActionServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RouteManagerSetActionServlet</servlet-name>
        <url-pattern>/RouteManagerSetActionServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TrainManagerSetActionServlet</servlet-name>
        <url-pattern>/TrainManagerSetActionServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddStationServlet</servlet-name>
        <url-pattern>/AddStationServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetProfileServlet</servlet-name>
        <url-pattern>/GetProfileServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FindTrainServlet</servlet-name>
        <url-pattern>/FindTrainServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ShowAllTrainsServlet</servlet-name>
        <url-pattern>/ShowAllTrainsServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddTrainServlet</servlet-name>
        <url-pattern>/AddTrainServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ShowRoutesServlet</servlet-name>
        <url-pattern>/ShowRoutesServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ShowAllRoutesServlet</servlet-name>
        <url-pattern>/ShowAllRoutesServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddRouteToTrainServlet</servlet-name>
        <url-pattern>/AddRouteToTrainServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BuyTicketServlet</servlet-name>
        <url-pattern>/BuyTicketServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/*.html</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/WEB-INF/pages/index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
